.container{
    width: 100%;
}
.container .top {
    width: 100%;
}
.top > img {
    height: 60px;
}
.top > nav {
    float: right;
}
    a {
        display: inline-block;
        float: left;
        font-size: 18px;
        line-height: 20px;
        padding: 5px;
        padding-left: 15px;
        padding-right: 15;
        margin-left: 0;
        margin-top: 10px;
        margin-left: 15px;
        text-decoration: none;
        color: #9E9E9E;
    }
    a:nth-of-type(5) {
        border: 3px solid #9E9E9E;
        margin: 5px;
        margin-top: 7px;
        border-radius: 25px;
    }